@{
    ViewData["Title"] = "Lista de invitaciones";
}

<link rel="stylesheet" href="~/css/listaInvitaciones.css">

<h2>@ViewData["Title"]</h2>
<div id="Invitaciones-container">
    <table id="tabla-invitaciones" class="table tabla-invitaciones">
        <thead>
            <tr>
                <th>id invitacion</th>
                <th>id evento</th>
                <th>Correo</th>
                <th>estado</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="~/js/listaInvitaciones.js"></script>

